<section id="about">
<div class="container">
  <h3>Bio</h3>
  <div class="panel panel-default">
    <div class="panel-body">
<i class="fa fa-user"></i>&nbsp;&nbsp;<strong><a target="_blank">Biography</a></strong> <br/>
<p align="justify">I am 23 years old. I love watching movies and TV shows (not your every-day 
  movie/tv show fan, I have an offline database of 2TB+ specifically for this) and listen to 
  Rock/Pop/EDM music. I am also highly passionate about Graphic designing and I am an active 
  follower of Quora. One F.R.I.E.N.D.S episode a day makes my day complete. I usually 
  sleep very late at night. I watch european football and american football. I was brought up in 
  Thiruvananthapuram, Kerala. I attended St Thomas Higher Secondary School and 
  St Thomas Central School for my higher secondary education. My failures have motivated me more than my achievements.  
  I have always kept myself open to learning newer technologies and above all, I am good at working under pressure with an upcoming deadline to meet 
  thereby making myself open to new ideas till the very last mom</p>

<p align="justify">I did my Bachelor's degreee in Avionics Engineering at Indian 
  Institute of Space Science and Technology. In my 3rd year in college I became passionate 
  about Computer Science and subsequently Computer Networks. From then I took up electives 
  related to Computer Science and diverted my area of studies from Avionics. I did my 
  Internship and my Final year project on Software Defined Networking at IIST 
  under <strong><a href="https://www.iist.ac.in/avionics/bsmanoj" target="_blank">B.S. Manoj 
    <i class="fa fa-external-link"></i></a></strong>. I came across open source 
    projects such as OpenFlow <a href="https://www.opennetworking.org/sdn-resources/openflow" 
    target="_blank"><i class="fa fa-external-link"></i></a> and Open vSwitch 
    <a href="http://openvswitch.org/" target="_blank"><i class="fa fa-external-link">
      </i></a> during my Internship and Final year project. 
    I am also fascinated by and interested in the working methods of the Opensource community. 
    As a result, I strive to be a part of it some day. Previously, I worked as a Software 
    Development Intern at Ather Energy - a smart electric vehicle start-up based out in 
    Bangalore were I worked as a part of program automation and data intelligence teams. 
    I also worked as a Research Associate in UpX Academy, startup ventured under Tech Mahindra. Here I concentrated on Data 
    Science and Big Data technologies. Currently, I am a Graduate student in Computer Science with specialization in Data analytics 
    (expected graduation in 2019) at Boston University. Currently I am working as a Data analytics intern at MetLife, RI 
    for the summer of 2018. I also worked as a Quality Assurance Intern at BUworks (BU Information Technology & Services) 
    from Fall 2017 to Spring 2018 and will continue my work during Fall 2018. My long-term goal is to expand my knowledge in Automation 
    and Data-driven Technologies such as Cognitive Networks, Connected Vehicles etc incorporating 
    my Interdisciplinary knowledge from Networks, Software Engineering, Data Science and my interest in Connected vehicles.</p>
      

<i class="fa fa-futbol-o"></i>&nbsp;&nbsp;<strong><a target="_blank">Hobbies</a></strong> <br/>
 <ul>
  <li>Binge watching TV Shows</li>
  <li>PS4 Gaming</li>
  <li>Travelling</li>
  <li>Soccer, Football, Cricket</li>
  <li>Quora</li>

</ul> 

<i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a target="_blank">Interests</a></strong> <br/>
 <ul>
  <li>Competitive programming</li>
  <li>Web development</li>
  <li>Online tutoring</li> 
  <li>Graphic Designing</li>
</ul> 

<i class="fa fa-music"></i>&nbsp;&nbsp;<strong><a target="_blank">Music</a></strong> <br/>
 <ul>
  <li>Songs : Mad World, Hotel California, Summer of 69′, Africa, Don't Stop Believing</li>
  <li>Solo : Michael Jackson, Eminem</li>
  <li>Bands : Linkin Park, Cold Play, Green Day</li>
  <li>EDM : Avicii, Martin Garrix</li>
</ul> 

<i class="fa fa-film"></i>&nbsp;&nbsp;<strong><a target="_blank">Movies</a></strong> <br/>
<ul>
  <li>The Dark Knight (The Joker & BG Music)</li>
  <li>The Usual Suspects (That Climax)</li>
  <li>Interstellar (The Docking Scene)</li>
  <li>Seven Pounds (Jellyfish Scene)</li>
  <li>The Pursuit of Happyness (..don't ever let anybody tell you, you can't do something! Not even me.)</li>
</ul> 

<i class="fa fa-television"></i>&nbsp;&nbsp;<strong><a target="_blank">TV Shows</a></strong> <br/>
 <ul>
  <li>Breaking Bad</li>
  <li>F.R.I.E.N.D.S</li>
  <li>The Office</li>
  <li>Game of Thrones</li>
  <li>Studio C (I love these people <a href="https://www.youtube.com/channel/UCsZXuHKonP9utl5q2hFCkgA" target="_blank"><i class="fa fa-external-link"></i></a>)</li>
  <li>Last Week Tonight with John Oliver</li>
</ul> 

    </div>
  </div>
</div>
</section>
