<section class="thirteen columns">
    <h1>Conferences/Workshops Attended</h1>
    <article>
        <header>
            <h1>IEEE International Conference on RAICS</h1>
            <span><address>Thiruvanathapuram <a target="_blank" href="http://www.raics.in/"><i class="fa fa-external-link"></i></a></address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Raspberry Pi Workshop</h1>
            <span><address>Indian Institute of Space Science and Technology, Thiruvanathrapuram</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>An Insight Into THz Antenna Technology</h1>
            <span><address>Indian Institute of Space Science and Technology, Thiruvanathrapuram <a target="_blank" href="https://drive.google.com/open?id=0B7qfuVtugGPORGg0ZmladVQyUEU"><i class="fa fa-external-link"></i></a></address><time>2016</time></span>
        </header>
    </article>
</section>
