<section class="thirteen columns">
    <h1>Relevant Courses</h1>
    <article>
        <header>
            <h1>Indian Institute of Space Science and Technology:</h1>
            <span>Computer Networks, Wireless Mesh Networks, Data Structures and Algorithms, Virtual Reality, Computer Organization and Operating System, Information Theory and Coding.</span>
        </header>
    </article>
    <article>
        <header>
            <h1>MOOCs:</h1>
            <span>Algorithms: Design and Analysis, Part 1 (Stanford) <a href="https://www.coursera.org/account/accomplishments/verify/BABXLHJWG79W" target="_blank"><i class="fa fa-external-link"></i></a>, Machine Learning (Stanford), Cryptography I (Stanford) <a href="https://www.coursera.org/account/accomplishments/verify/BAYRDNQMPBBC" target="_blank"><i class="fa fa-external-link"></i></a>, Hadoop Platform and Application Framework (UC SanDiego), Python for Data Science (Microsoft) <a href="https://courses.edx.org/certificates/5e55bfab43f44b4d9f87be5eca9da8d9" target="_blank"><i class="fa fa-external-link"></i></a></span>
        </header>
    </article>
</section>
