<section class="thirteen columns">
    <h1>Relevant Courses</h1>
    <article>
        <header>
            <h1>Classroom:</h1>
            <span>Computer Networks, Wireless Mesh Networks, Data Structures and Algorithms, Virtual Reality, Computer Organization and Operating System, Information Theory and Coding.</span>
        </header>
    </article>
    <article>
        <header>
            <h1>MOOCs:</h1>
            <span> <a href="https://www.coursera.org/account/accomplishments/verify/BABXLHJWG79W" target="_blank">Algorithms: Design and Analysis, Part 1 (Stanford)</a>, Machine Learning (Stanford), Cryptography I (Stanford), Hadoop Platform and Application Framework (UC SanDiego), <a href="https://courses.edx.org/certificates/5e55bfab43f44b4d9f87be5eca9da8d9" target="_blank">Python for Data Science (Microsoft)</a> </span>
        </header>
    </article>
</section>
