<section class="thirteen columns">
    <article>
        <header>
            <h1>Secondary School, AISSE (CBSE)</h1>
	<div style="width: 85%; float:left">
            <span>St Thomas Central School <a target="_blank" href="http://www.stthomastvm.edu.in/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Thiruvanathapuram, India</address><time>2010</time></span><br>
	    <span>CGPA : 9.2 <a target="_blank" href="https://drive.google.com/open?id=0B7qfuVtugGPOR0s3eFdjc183QVk"><i class="fa fa-external-link"></i></a></span><br>
	Subjects : English Comm., Mathematics, Science, Social Science, Introductory I.T, Malayalam.
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.stthomastvm.edu.in/"><img src="https://s32.postimg.org/m0fyxr39h/stcslogo.png" style="margin: 0px 0px" alt="STCS LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
