<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Indian Institute of Space Science and Technology</h1>
            <span>B-Tech in Avionics Engineering</span>
            <span><address>Thiruvanathapuram, India</address><time>2012 to 2016</time></span>
	  <p>
		B-Tech Project : Software Defined MICRONet.
	  </p>
        </header>
    </article>
    <article>
        <header>
            <h1>St Thomas Central School</h1>
            <span>CBSE, AISSCE</span>
            <span><address>Thiruvanathapuram, India</address><time>2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>St Thomas Central School</h1>
            <span>CBSE, AISSE</span>
            <span><address>Thiruvanathapuram, India</address><time>2010</time></span>
        </header>
    </article>
</section>
