<section class="thirteen columns">
    <article>
        <header>
            <h1>High School, AISSCE (CBSE)</h1>
	<div style="width: 85%; float:left">
            <span>St Thomas Central School <a target="_blank" href="http://www.stthomastvm.edu.in/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Thiruvanathapuram, India</address><time>2012</time></span><br>
	    <span>Percentage : 91.2% <a target="_blank" href="https://drive.google.com/open?id=0B7qfuVtugGPOZlFKYThZTjNIXzQ"><i class="fa fa-external-link"></i></a></span><br>
	Subjects : English Core, Mathematics, Physics, Chemistry, Computer Science.
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.stthomastvm.edu.in/"><img src="/static/img/stcslogo.png" style="margin: 0px 0px" alt="STCS LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
