<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B-Tech in Avionics Engineering</h1>
	<div style="width: 85%; float:left">
	    <span>Minor: Computer Science</span><br>
            <span>Indian Institute of Space Science and Technology <a target="_blank" href="http://iist.ac.in/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Thiruvanathapuram, India </address><time>2012 - 2016</time></span><br>
<span>Ranked 8th in National Institutional Ranking Framework by Ministry of Human Resources, Govt of India <a target="_blank" href="https://www.nirfindia.org/univ"><i class="fa fa-external-link"></i></a></span><br>
	    
	  <p align="justify">
	  B-Tech Project : Software Defined MICRONet : Mentored by Associate Prof. <a href="https://www.iist.ac.in/avionics/bsmanoj" target="_blank">Manoj B.S., Ph.D. <i class="fa fa-external-link"></i></a><br>
Software Defined MICRONet architecture provides intelligent communication among physical boat clusters in the sea. This will solve the technology challenges faced by the fishermen community in India today, specifically by providing software defined Intelligent and adaptable communication and connectivity while they are out at sea. A scaled down model of Software Defined MICRONet environment was emulated in a testbed and meaningful results were obtained.
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://iist.ac.in/"><img src="https://s22.postimg.org/3thlevefl/logo.png" style="margin: 0px 0px" alt="IIST LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
