<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Science in Computer Science</h1>
	<div style="width: 85%; float:left">
	    <span>Specialization: Data Analytics</span><br>
            <span>Boston University <a target="_blank" href="https://www.bu.edu/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Boston, US </address><time>2017- 2019 (expected)</time></span><br>
            <span>CGPA: 3.75/4</span>

	  <p align="justify">
          Subjects: Foundation of Analytics, Computer Language Theory, Web Analytics and Mining, Artifical Intelligence.
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="https://www.bu.edu/"><img src="https://www.bu.edu/brand/files/2012/10/master_logo.gif" style="margin: 0px 0px" alt="BU LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
