<section class="thirteen columns">
    <h1>Initiatives</h1>
	<article>
        <header>
            <h1>IEEE Student Member</h1>
            <span><address>Institute of Electrical and Electronics Engineers <a target="_blank" href="https://www.ieee.org/"><i class="fa fa-external-link"></i></a></address></span>
        </header>
    </article>
	<article>
        <header>
            <h1>ACM Student Member</h1>
            <span><address>Association for Computing Machinery <a target="_blank" href="http://www.acm.org/"><i class="fa fa-external-link"></i></a></address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>IEEE Student Volunteer</h1>
            <span><address>IEEE International Conference on RAICS <a target="_blank" href="http://www.raics.in/"><i class="fa fa-external-link"></i></a></address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Finance and Creativity Head</h1>
            <span><address>Dhanak 2014 <a target="_blank" href="https://www.facebook.com/iist.dhanak"><i class="fa fa-external-link"></i></a>, Annual Cultural Festival, Indian Institute of Space Science and Technology</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Creativity Head</h1>
            <span><address>Conscientia 2015 <a target="_blank" href="https://www.facebook.com/Conscientia.iist/"><i class="fa fa-external-link"></i></a>, Annual Astronomy and Technical Festival, Indian Institute of Space Science and Technology</address><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Publicity Co-Head</h1>
            <span><address>Dhanak 2013 <a target="_blank" href="https://www.facebook.com/iist.dhanak"><i class="fa fa-external-link"></i></a>, Annual Cultural Festival, Indian Institute of Space Science and Technology</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Web and Creativity Co-Head</h1>
            <span><address>Conscientia 2013 <a target="_blank" href="https://www.facebook.com/Conscientia.iist/"><i class="fa fa-external-link"></i></a>, Annual Astronomy and Technical Festival, Indian Institute of Space Science and Technology</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Online Tutoring</h1>
            <span><address>Taught over 100+ students and took 100+ lessons through the platform in Computer Science, Computer Networks, and Python/C/C++/Java Programming.<br>
Chegg.com | Read Student Reviews <a href="https://www.chegg.com/tutors/online-tutors/Krish-Y-2878122/#my-reviews" target="_blank"> <i class="fa fa-external-link"></i></a></span>
        </header>
    </article>
</section>
