<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>IEEE Student Volunteer</h1>
            <span><address>IEEE International Conference on RAICS</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Finance and Creativity Head</h1>
            <span><address>Dhanak 2014, Annual Cultural Festival, Indian Institute of Space Science and Technology</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Creativity Head</h1>
            <span><address>Conscientia 2015, Annual Astronomy and Technical Festival, Indian Institute of Space Science and Technology</address><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Publicity Co-Head</h1>
            <span><address>Dhanak 2013, Annual Cultural Festival, Indian Institute of Space Science and Technology</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Web and Creativity Co-Head</h1>
            <span><address>Conscientia 2013, Annual Astronomy and Technical Festival, Indian Institute of Space Science and Technology</address><time>2013</time></span>
        </header>
    </article>
</section>
