<section id="inspire">
<div class="container">
  <h3>Inspire</h3>
  <div class="panel panel-default">
    <div class="panel-body">
<i class="fa fa-play"></i>&nbsp;&nbsp;<strong>Steve Jobs' 2005 Stanford Commencement Address</strong> <br>
<iframe width="750" height="400" src="https://www.youtube.com/embed/UF8uR6Z6KLc" frameborder="0" allowfullscreen></iframe>
<br><br>
<i class="fa fa-play"></i>&nbsp;&nbsp;<strong>Jack Ma : Davos Interview</strong> <br>
<iframe width="750" height="400" src="https://www.youtube.com/embed/o5BKaDCda_0" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>
</div>
</section>
