<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">Navigation in a Virtual Environment using IMU MPU-6050 (2015)</i></a></strong> <br/> 
<p align="justify">Head Mounted Display(HMD) is one of the revolutionary Virtual Reality(VR) inventions of all times. But how do you move around in a Virtual Environment?. For a true VR experience you need to move around freely and naturally. Imagine a game where the user can freely roam around their backyard or walk on a frictionless surface and navigate in a virtual environment rather than sitting idle in a chair. Similarly, there are a ton of applications from taking a morning walk in a VR world to a whole range of simulation training for combat soldiers. Developing a low-cost system for such a VR experience which can be implemented onto a HMD, is always a challenge. In this project we have done a hardware implementation to navigate in a virtual environment using a low-cost Inertial Measurement Unit(IMU).<br>
Repository : <a target="_blank" href="https://github.com/amalrkrishna/virtualnav-mpu6050">View here</a></p><br></p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">32 bit RISC Microprocessor in VHDL language and implemented on Altera FPGA (2014)</a></strong> <br/>
<p align="justify">The Test bench module is executed in the model-sim software and the LCD module is implemented on the FPGA to display the Register value, Memory value and the Program counter.<br>
Repository : <a target="_blank" href="https://github.com/amalrkrishna/32bitrisc-vhdl">View here</a></p><br></p></p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">2D convolution using Xlinix of a 128*128 window and by using a 3*3 convolution matrix (2014)</a></strong> <br/>
<p align="justify">For each input pixel window, the values in that window are multiplied by the convolution mask. Next, those results are added together and divided by the number of pixels in the window. This value is the output for the origin pixel of the output image for that position. The input pixel window is always the same size as the convolution mask. The output pixel is rounded to the nearest integer. The results for this algorithm carried over an entire input image will result in an output image with reduced salt-and-pepper noise. An important aspect of the convolution algorithm is that it supports a virtually infinite variety of masks, each with its own feature. This flexibility allows for many powerful uses.</p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">Student-Faculty web portal in PHP framework (2013)</a></strong> <br/>
<p align="justify">It is a web-based portal. That is more beneficial to both students and teachers. It enacting as a bridge of communication amongst students and faculties in colleges and universities. It is a user-friendly, GUI based client / server application that will helps the users for storing, retrieving and sharing resources through online. Faculties can easily share the resources attachments through online. This application can also helps the users to evaluate the tests performed by the students, store the marks and generate the mark reports. It also provides a chat facility between the students and faculty so that when they both online at same time they can directly communicate with each other comments query and doubts can also be cleared by providing a text area.</p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">Food coupon booking system in PHP framework (2014)</a></strong> <br/>
<p align="justify">Food coupon booking for Indian Institute of Space Science and Technology Mess which was used by the Intitute for separate booking of south indian lunch for students. The website was later changed to an upgraded and detailed version by the juniors after it’s initial one year of usage.</p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">Bomb diffusion trainer kit using 555 timer IC (2013)</a></strong> <br/>
<p align="justify"></p>
</ul> 

<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a target="_blank">Thermometer using RTD (2014)</a></strong> <br/>
<p align="justify"></p>
</ul> 

    </div>
  </div>
</div>
</section>
