<section class="thirteen columns">
    <h1>Selected Projects</h1>
    <article>
        <header>
            <h1>On Switch-based Controller Hand-offs in Software Defined Wireless Mesh Networks</h1>
        </header>
	<p align="justify">We use Expected Transmission Time (ETT) as the metric for controller hand-off inOpenFlow WMNs. ETT reflects various physical-layer characteristics, such as link traffic and end-to-end bandwidth. The experimental results showed that ETT is a better metric compared to RTT and ETX in a dynamic network with variable load across the links. ETT-based hand-off is able to respond to the excessive load in the link and make suitable hand-off decisons, whereas RTT and ETX fails in accomplishing the same with lower hand-off delay and packet dropouts.
	</p>
    </article>
    <article>
        <header>
            <h1>Navigation in a Virtual Environment using IMU MPU-6050 (2015)</h1>
        </header>
<p align="justify">In this project we have done a hardware implementation to navigate in a virtual environment using a low-cost Inertial Measurement Unit(IMU).<br>
Respository : <a target="_blank" href="https://github.com/amalrkrishna/virtualnav-mpu6050">Navigation in a Virtual Environment using IMU MPU-6050 (2015)</a>
	</p>
    </article>
    <article>
    <header>
            <h1>32 bit RISC Microprocessor in VHDL language and implemented on Altera FPGA (2014)</h1>
        </header>
<p align="justify">The Test bench module is executed in the model-sim software and the LCD module is implemented on the FPGA to display the Register value, Memory value and the Program counter.
Respository : <a target="_blank" href="https://github.com/amalrkrishna/32bitrisc-vhdl">32 bit RISC Microprocessor in VHDL language and implemented on Altera FPGA (2014) </a>
	</p>
    </article>
    <article>
    <header>
            <h1>2D convolution using Xlinix by giving a 128*128 window and by using a 3*3 convolution matrix (2014)</h1>
        </header>
<p align="justify">For each input pixel window, the values in that window are multiplied by the convolution mask. Next, those results are added together and divided by the number of pixels in the window. This value is the output for the origin pixel of the output image for that position. The input pixel window is always the same size as the convolution mask. The output pixel is rounded to the nearest integer. The results for this algorithm carried over an entire input image will result in an output image with reduced salt-and-pepper noise. This flexibility allows for many powerful uses.
	</p>
    </article>
    <article>
    <header>
         <h1>Student-Faculty web portal in PHP framework (2013)</h1>
        </header>
<p align="justify">A web portal for Student-Faculty interaction.
	</p>
    </article>
    <article>
    <header>
         <h1>Food coupon booking system in PHP framework (2014)</h1>
        </header>
<p align="justify">Food coupon booking for Indian Institute of Space Science and Technology Mess which was used by the Intitute for separate booking of south indian lunch for students. The website was later changed to an upgraded and detailed version by the juniors after it’s initial one year of usage.
	</p>
    </article>
</section>
