<section id="research">
<div class="container">
  <h3>Research Areas</h3>
  <div class="panel panel-default">
    <div class="panel-body">
<p align="justify">I have mainly concentrated my research work under Software Defined Networking and Delay Tolerant Networking domains. Recently I have also started to develop a strong interest towards Data Science and it's potential applications in Computer Networks. My long term goal is to expand my knowledge under data-driven networks such as Cognitive Networks, Self-healing Networks etc.</p>
<i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a target="_blank">Areas of Strength</a></strong> <br/>
 <ul>
  <li>Software Defined Networks </li>
		 <ul>
 		 <li>OpenFlow </li>
 		 <li>Open vSwitch</li>
		 <li>RYU Controller</li>
		 </ul> 
  <li>Computer Networks</li>
  <li>Wireless Mesh Networks</li>
  <li>Delay Tolerant Networks</li>
  <li>Algorithms</li>
  <li>Data Science</li>
</ul> 

<h3 align="center">Research Work</h3><br>

<i class="fa fa-search"></i>&nbsp;&nbsp;<strong><a target="_blank">On Switch-based Controller Hand-offs in Software Defined Wireless Mesh Networks</a></strong> <br/>
<p align="justify">We use Expected Transmission Time (ETT) as the metric for controller hand-off inOpenFlow WMNs. ETT reflects various physical-layer characteristics, such as link traffic and end-to-end bandwidth. The experimental results showed that ETT is a better metric compared to RTT and ETX in a dynamic network with variable load across the links. ETT-based hand-off is able to respond to the excessive load in the link and make suitable hand-off decisons, whereas RTT and ETX fails in accomplishing the same with lower hand-off delay and packet dropouts.</p>

<br>
</ul> 

<i class="fa fa-search"></i>&nbsp;&nbsp;<strong><a target="_blank">Software Defined MICRONet</a></strong> <br/>
<p align="justify">Software Defined MICRONet (Mobile Infrastructure for Costal Region Offshore Communications and Networks) architecture provides intelligent communication among physical boat clusters in the sea. This will solve the technology challenges faced by the fishermen community in India today, specifically by providing software defined Intelligent and adaptable communication and connectivity while they are out at sea. A scaled down model of Software Defined MICRONet environment was emulated in a testbed and meaningful results were obtained.</p>

<script async class="speakerdeck-embed" data-id="9242e4c9e4574bf3bbcc9a3cd7029a77" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

<br>
</ul> 

<i class="fa fa-search"></i>&nbsp;&nbsp;<strong><a target="_blank"> Software Defined Delay Tolerant Network (SDDTN)</a></strong> <br/>
<p align="justify">Analyzed the challenges of Software Defined Network (SDN) in a high delay environment. An Software Defined Delay Tolerant Network (SDDTN) module is deployed onto every switch using OpenFLow protocol which gets activated when there is an absence of main controller connection. The module act as a light-weight controller which generates the flow for the switch and compute the plausible locations to store the packets in the isolated network.</p>

<script async class="speakerdeck-embed" data-id="2821e678d34d48079f295c6300341ef3" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

<br>

</ul> 
    </div>
  </div>
</div>
</section>
