<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
	<header>
            <h1>Strongest Areas</h1>Software Defined Networks, Wireless Mesh Networks, Algorithms, Data Science
    </header>
	</article>
    <article>
	<header>
            <h1>Programming Languages</h1>C/C++, Python, PHP, HTML5, Octave, Java, Shell Scripting, VHDL &amp; Assembly Language
    </header>
	</article>

    <article>
	<header>
        <h1>Tools/Frameworks</h1>MySQL, L A TEX, Apache Spark, OpenGL, RYU, Open vSwitch &amp; OLSR daemon
    </header>
	</article>

    <article>
	<header>
        <h1>Platforms</h1>Linux, Debian &amp; Windows
    </header>
	</article>

    <article>
	<header>
        <h1>IDE</h1>Eclipse, Netbeans &amp; PHP Storm
    </header>
	</article>

    <article>
    <header>
        <h1>Text Editor</h1>Geany, Gedit, Vim &amp; Nano
    </header>
    </article>
</section>
