<div class="social">
	<h4 style="text-align:center">
    {% if site.github %}
	  <a target="_blank" href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}

    {% if site.email %}
	  <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.linkedin %}
	  <a target="_blank" href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.hackerrank %}
	  <a target="_blank" href="http://hackerrank.com/{{ site.hackerrank }}"><i class="fa fa-header "></i></a>
    {% endif %}
    </h4>
</div>
