<section class="thirteen columns">
    <h1>Standardised Tests</h1>
    <article>
        <header>
            <h1>Secured top 1% in AIEEE 2012</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured ISAT 2012 AIR 577 (among 1,50,000 candidates)</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured KEAM 2012 Rank 686 (among 1,10,000 candidates)</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured 91.2% in AISSCE 2012</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured CGPA 9.2 in AISSE 2010</h1>
        </header>
    </article>
</section>
