<section class="thirteen columns">
    <h1>Standardised Tests</h1>
    <article>
        <header>
            <h1>Secured top 1% in AIEEE 2012</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured ISAT 2012 AIR 577</h1>
	    <span>among 1,50,000 candidates</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured KEAM 2012 Rank 686</h1>
	    <span>among 1,10,000 candidates</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured 91.2%</h1>
	<span>AISSCE 2012</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Secured CGPA 9.2</h1>
	<span>AISSE 2010</span>
        </header>
    </article>
</section>
