<section class="thirteen columns">

    <article>
        <header>
            <h1>Research Associate</h1>
	    
	<div style="width: 85%; float:left">
            <span>UpX academy<a target="_blank" href="http://upxacademy.com/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Hyderabad, India</address><time>August 2016 - Present</time></span>
	  <p align="justify">
1. Helps the company with data analytics of real-world data sets using Hadoop and Apache Spark in a Virtual Computing Lab<br>
2. Develops white paper and e-books on Big data and Data analytics on emerging research areas<br>
3. Maintains the web admin role to ensure smooth UI experience<br>
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://upxacademy.com/">
<img src="https://s18.postimg.org/i3sedticp/upx_477x300.png" style="margin: 0px 0px" alt="UPX LOGO" align="left" hspace="10" width="100%"></a></div>
        </header>
    </article>
</section>
