<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Software Engineering Intern</h1>
	    
	<div style="width: 85%; float:left">
            <span>Ather Energy <a target="_blank" href="http://www.atherenergy.com/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Hyderabad, India</address><time>August 2016 - December 2016</time></span>
	  <p align="justify">
Ather Energy is an Indian company headquartered in Bangalore, India. Winner of the Economic Times Startup Awards 2016. Founded by two friends and IIT Madras graduates Tarun Mehta and Swapnil Jain, the company is a hardware startup, that is designing and manufacturing an electric and connected scooter called S340. Flipkart founders, Sachin Bansal and Binny Bansal invested $1 million as the seed capital in 2014. The company received US$12 million from Tiger Global in Series A funding and raised US$30.5 million as Series B from Hero MotoCorp.<br>
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.atherenergy.com/"><img src="https://s21.postimg.org/4fh1k1avb/Ather_Logo_0.png" style="margin: 0px 0px" alt="ATHER LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
