<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Quality Assurance Intern</h1>
	    
	<div style="width: 85%; float:left">
            <span>Boston University - BUworks <a target="_blank" href="https://www.bu.edu/tech/services/admin/fin-hr-proc/central/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Boston, MA</address><time>September 2017 - May 2018</time></span>
      <p align="justify">BUworks is the Information Services & Technology (IS&T) wing of Boston University.<br>
            1. Works as a QA Intern on QA process for HR and Payroll functions and Programming team at BUworks.<br>
            2. Works with SAP & Python automation scripts for automating HR functions.
        </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.atherenergy.com/"><img src="https://www.bu.edu/brand/files/2012/10/master_logo.gif" style="margin: 0px 0px" alt="ATHER LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
