<section class="thirteen columns">
    <article>
        <header>
            <h1>Software Engineering Intern</h1>
	    
	<div style="width: 85%; float:left">
            <span>Ather Energy <a target="_blank" href="http://www.atherenergy.com/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Bengaluru, India</address><time>March 2017 - July 2017</time></span>
	  <p align="justify">
Ather Energy is an Indian startup headquartered in Bangalore, India. The company is a hardware startup, that is designing and manufacturing electric and connected vehicles. Ather has raised over US$45 million till date from Flipkart founders Sachin Bansal and Binny Bansal, Tiger Global and Hero MotoCorp.<br>
1. Worked on JIRA (issue tracking software) API for Python and JavaScript to implement automation functionalities for Program management team.<br>
2. Worked on JavaScript, NodeJS, and SailsJS to harness intelligence from JIRA data for program managers to improve the efficiency of teams.<br>
3. Worked for the Data Intelligence team with SailsJS, REST API, ElasticSearch, Kibana, and Grafana for Data Aggregation and Visualization.<br>
4. Experienced in the testing frameworks MochaJS in JavaScript and unittest in Python.<br>
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.atherenergy.com/"><img src="https://s21.postimg.org/4fh1k1avb/Ather_Logo_0.png" style="margin: 0px 0px" alt="ATHER LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
