<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Summer Intern</h1>
	    
	<div style="width: 90%; float:left">
            <span>Indian Institute of Space Science and Technology <a target="_blank" href="http://iist.ac.in/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Thiruvanathapuram, India</address><time>Summer 2015</time></span>
	  <p align="justify">Project : Software Defined Delay Tolerant Network (SDDTN)<br>Analyzed the challenges of Software Defined Network (SDN) in a high delay environment. An Software Defined Delay Tolerant Network (SDDTN) module is deployed onto every switch using OpenFlow protocol which gets activated when there is an absence of main controller connection. The module act as a light-weight controller which generates the flow for the switch and compute the plausible locations to store the packets in the isolated network.
	  </p>
	</div>

	<div style="width: 10%; float:right; margin-left: 5%;"><img src="https://www.iist.ac.in/sites/all/themes/iist/images/logo.png" alt="IIST LOGO" align="left"  width="120%"></div>
        </header>
    </article>
</section>
