<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Data Analytics Intern</h1>
	    
	<div style="width: 85%; float:left">
            <span>MetLife - Auto and Home <a target="_blank" href="https://www.metlife.com/insurance/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Warwick, RI</address><time>June 2018 - present</time></span>
      <p align="justify">Project - NPS Analytics deep dive <br>
        a.	Prepare analysis of NPS scores going into finer details. <br>
        b.	Reformat the NPS analytics to create an ongoing data set for different types of surveys. <br>
        c.	Prepare an analytical/predictive model to provide relative significance of different factors that impact NPS score. <br>
        </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.metlife.com/"><img src="https://www.metlife.com/etc/designs/us/_jcr_content/global/logo/image.asset.spool/MetLife.png" style="margin: 0px 0px" alt="ATHER LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
