<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Software Engineering Intern</h1>
	    
	<div style="width: 85%; float:left">
            <span>Ather Energy <a target="_blank" href="http://www.atherenergy.com/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Bengaluru, India</address><time>March 2017 - present</time></span>
	  <p align="justify">
Ather Energy is an Indian startup headquartered in Bangalore, India. The company is a hardware startup, that is designing and manufacturing electric and connected vehicles. Ather has raised over US$45 million till date from Flipkart founders Sachin Bansal and Binny Bansal, Tiger Global and Hero MotoCorp.<br>
1. Works on JIRA API for Python to implement automation functionalities such as Split tasks, checking for Circular dependencies etc.<br>
2. Works on JavaScript, NodeJS and SailsJS to harness intelligence from issue tracking data for program managers. Thereby improving the efficiency of teams.<br>
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.atherenergy.com/"><img src="https://s21.postimg.org/4fh1k1avb/Ather_Logo_0.png" style="margin: 0px 0px" alt="ATHER LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
