<section class="thirteen columns">
    <h1>Relevant Experience</h1>

    <article>
        <header>
            <h1>Research Associate</h1>
	    
	<div style="width: 85%; float:left">
            <span>Tech Mahindra <a target="_blank" href="http://www.techmahindra.com/"><i class="fa fa-external-link"></i></a>,</span>
            <span><address>Hyderabad, India</address><time>August 2016 - Present</time></span>
	  <p align="justify">
1. Works on research projects on Data Analytics, Big Data, and Hadoop systems under Tech Mahindra Growth Factories.
2. Works on real-world data set's from clients and help them to aggregate and restructure data, develop classification model, find the effectiveness of the classification model.
	  </p>
	</div>
	<div style="width: 5%; float:middle"></div>
	<div style="width: 10%; float:right; margin-left: 0px;"><a target="_blank" href="http://www.techmahindra.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/3/34/Tech_Mahindra_New_Logo.svg" style="margin: 0px 0px" alt="TM LOGO" align="left" hspace="10" width="120%"></a></div>
        </header>
    </article>
</section>
